<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3>CryptoDash</h3>
            <p>Your ultimate destination for real-time <br> crypto tracking and market insights.</p>
        </div>

        <div class="footer-section">
            <h4>Services</h4>
            <ul>
                <li><a href="#">Market Analysis</a></li>
                <li><a href="#">Portfolio Tracking</a></li>
                <li><a href="#">Expert Insights</a></li>
                <li><a href="#">API Integration</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Company</h4>
            <ul>
                <li><a href="../pages/about.html">About Us</a></li>
                <li><a href="../pages/converter.html">Converter</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Contact Support</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 CryptoDash. All rights reserved.</p>
    </div>
</footer>