<header class="header">
    <div class="logo">
        <h1>CryptoDash</h1>
    </div>
    <button class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <nav class="navbar" id="navbar">
        <ul>
            <li><a href="../pages/index.html">Home</a></li>
            <li><a href="../pages/about.html">About</a></li>
            <li><a href="../pages/converter.html">Converter</a></li>
        </ul>
        <button id="theme-toggle" class="theme-btn">
            <span class="icon">🌙</span>
        </button>
    </nav>
</header>